---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
---

<BaseLayout>
  <div>
    <h1 class="text-xl mb-2">Contact</h1>

    <p>
      Email: <Link href="mailto:markmorgan.dev@gmail.com"
        >markmorgan.dev@gmail.com</Link
      >
    </p>
    <p>
      LinkedIn: <Link href="https://www.linkedin.com/in/markmdev/"
        >https://www.linkedin.com/in/markmdev/</Link
      >
    </p>

    <p>
      GitHub: <Link href="https://github.com/markmdev/"
        >https://github.com/markmdev/</Link
      >
    </p>
    <p>Location: San Jose, CA</p>
  </div>
</BaseLayout>
